body {
    display: flex;
}

.flex-box {
    display: flex;
}

.gap-50 {
    margin-left: 50px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

input {
    align-self: end;
}

.validationError {
    color: red;
}

.border-red {
    border: 1px solid red;
}